@import "tailwindcss";

@theme {
  /* color */
  --color-palette-primary: #4880ee;
  --color-palette-red: #e84118;
  --color-palette-gray: #dadada;
  --color-palette-lightgray: #f2f4f6;
  --color-palette-black: #222222;
  --color-palette-white: #ffffff;

  --color-text-primary: #353c49;
  --color-text-subtitle: #8d94a0;
  --color-text-secondary: #6d7582;
}

:root {
  /* typography */
  --font-title-1: 24px;
  --font-title-2: 22px;
  --font-title-3: 18px;
  --font-body-1: 20px;
  --font-body-2: 14px;
  --font-caption: 16px;
  --font-small: 10px;
}

body {
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
}

.typo-title {
  font-weight: bold;
  line-height: 100%;
}

.typo-title-1 {
  font-size: var(--font-title-1);
}

.typo-title-2 {
  font-size: var(--font-title-2);
  line-height: 24px;
}

.typo-title-3 {
  font-size: var(--font-title-3);
}

.typo-body {
  font-weight: medium;
}

.typo-body-1 {
  font-size: var(--font-body-1);
}

.typo-body-2 {
  font-size: var(--font-body-2);
}

.typo-bold {
  font-weight: bold;
}

.typo-caption {
  font-size: var(--font-caption);
}

.typo-small {
  font-size: var(--font-small);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
